---

---
<section class="hero">
    <video autoplay muted loop playsinline>
      <source src="HeroVideo.mov" type="video/mp4" />
    </video>
    <div class="overlay">
      <h1>KLUBBEN ER en<span id="changing-word">SAMMENHOLD</span></h1>
    </div>
  </section>